
.app-ul {
    padding: 2rem 6rem 0rem 6rem;
    padding-bottom: 2rem;
     border: solid #FCD7B2;
     
}
.app-div-ul {
   padding: 2rem 25rem 0rem 25rem;
   
}

.app-h2 {
padding-left: 25rem;
}
.App-li {
  margin-left: 765px;
  margin-top: 15px;
 
}